<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Neuen Mitarbeiter anlegen</title>
</head>
<body>

<div layout:fragment="topSearch">
    <form class="d-flex" action="#" th:action="@{/employee}" method="get">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Suche" aria-label="Suche" id="search" name="search">
            <button class="btn btn-outline-secondary" type="submit"><i class="material-icons"
                                                                       style="color: black; border: none;">search</i>
            </button>
        </div>
    </form>
</div>

<div layout:fragment="content">

    <div class="container">
        <h1 class="my-4">Neuen Mitarbeiter anlegen</h1>

        <form action="/employee/create" method="post">
            <div class="form-row">
                <div class="col-md-6">
                    <label for="firstName">Vorname</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"/>
                </div>
                <div class="col-md-6">
                    <label for="lastName">Nachname</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="position">Position</label>
                    <select class="form-control" id="position" name="position">
                        <option value="">--Bitte wählen--</option>
                        <option th:each="position : ${positions}" th:value="${position.id}"
                                th:text="${position.name}"></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="department">Abteilung</label>
                    <input type="text" class="form-control" id="department" name="department"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" name="email"/>
                </div>
                <div class="col-md-6">
                    <label for="phoneNumber">Telefonnummer</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"/>
                </div>
            </div>

            <!-- Mitarbeiter anlegen Button und Zurück-Button nebeneinander -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a th:href="@{/}" class="btn btn-secondary"><i class="material-icons align-middle">arrow_back</i>
                    Zurück zur Startseite</a>
                <button type="submit" class="btn btn-primary">Mitarbeiter anlegen</button>
            </div>
        </form>
    </div>


</div>

</body>
</html>

