<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Mitarbeiter bearbeiten</title>
</head>
<body>

<div layout:fragment="topSearch">
    <form class="d-flex" action="#" th:action="@{/employee}" method="get">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Suche" aria-label="Suche" id="search" name="search">
            <button class="btn btn-outline-secondary" type="submit"><i class="material-icons">search</i></button>
        </div>
    </form>
</div>

<div layout:fragment="content">

    <div class="container">
        <h1 class="my-4">Mitarbeiter bearbeiten</h1>

        <!-- Bearbeiten-Formular -->
        <form action="#" th:action="@{/employee/{id}/edit(id=${employee.id})}" th:object="${employee}" method="post" enctype="multipart/form-data">

            <!-- Verstecktes Feld für die ID des Mitarbeiters -->
            <input type="hidden" th:field="*{id}"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">Vorname</label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nachname</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="position">Position</label>
                        <select class="form-control" id="position" th:field="*{position}">
                            <option value="">--Bitte wählen--</option>
                            <option th:each="position : ${positions}" th:value="${position.id}"
                                    th:text="${position.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="department">Abteilung</label>
                        <input type="text" class="form-control" id="department" th:field="*{department}"/>
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}"/>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Telefonnummer</label>
                        <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <div th:if="${imageBase64Src != null}">
                            <img alt="Profilbild" class="img-thumbnail" style="max-width: 200px; max-height: 200px;"
                                 th:src="@{/employee/{id}/profile-picture(id=${employee.id})}">
                            <br>
                            <div class="mt-2">
                                <input type="file" id="picture" name="picture" accept="image/*" style="display: none;"/>
                                <label for="picture" class="btn btn-secondary" style="display: inline-block;"><i
                                        class="material-icons">add</i></label>
                                <a th:href="@{/employee/{id}/delete-picture(id=${employee.id})}"
                                   class="btn btn-danger ml-2" style="display: inline-block;"><i class="material-icons">delete</i></a>
                            </div>
                        </div>
                        <div th:unless="${imageBase64Src}">
                            <p>Kein Profilbild vorhanden.</p>
                            <div class="mt-2">
                                <input type="file" id="picture" name="picture" accept="image/*" style="display: none;"/>
                                <label for="picture" class="btn btn-secondary" style="display: inline-block;"><i
                                        class="material-icons">add</i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Änderungen speichern</button>
                <a th:href="@{/}" class="btn btn-secondary ml-2"><i class="material-icons align-middle">arrow_back</i>
                    Zurück zur Startseite</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>








