<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Mitarbeiterverwaltung</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <h1>Mitarbeiterverwaltung</h1>
    <!-- Suchformular -->
    <form action="#" th:action="@{/employee/search}" method="get">
        <div class="form-group">
            <label for="search">Suche</label>
            <input type="text" class="form-control" id="search" name="search" />
        </div>
        <button type="submit" class="btn btn-primary">Suchen</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Position</th>
            <th>Abteilung</th>
            <th>E-Mail</th>
            <th>Telefonnummer</th>
            <th>Bearbeiten</th>
            <th>Löschen</th> <!-- Neue Spalte für den Löschen-Button -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.department}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <!-- Bearbeiten-Button in jeder Zeile -->
            <td><a th:href="@{/employee/{id}/edit(id=${employee.id})}" class="btn btn-primary">Bearbeiten</a></td>
            <!-- Löschen-Button in jeder Zeile -->
            <td><a th:href="@{/employee/{id}/delete(id=${employee.id})}" class="btn btn-danger">Löschen</a></td>
        </tr>
        </tbody>
    </table>

    <!-- Link zum Hinzufügen eines neuen Mitarbeiters -->
    <div><a href="/employee/create" class="btn btn-primary">Neuen Mitarbeiter anlegen</a></div>

</div>

<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
